@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mtavruli';
    src: url('src/assets/fonts/bpg_nino_mtavruli_bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mrgvlovani';
    src: url('src/assets/fonts/bpg_mrgvlovani_2010.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'mrgvlovani', sans-serif;
}

input[type='radio'] {
    accent-color: #1C5285 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}